// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-header
{
	margin: 0px;	
}
.status p
{
	margin-bottom:0px;
}
.meta
{
	margin-bottom:4px;
}

.status.hover 
{
	background: #F0FAFA;
}

.status .admin
{
	display:none;
}

.status.hover .admin
{
	display:inline;
}

